<div class="context-menu-box">
  <div class="context-menu" id="context-template">
    <div class="menu-item edit">edit</div>
    <div class="menu-item delete">delete</div>
    <div class="menu-item">
      <div class="color" style="background-color: darksalmon;"></div>
      <div class="color" style="background-color: rgb(122, 176, 233);"></div>
      <div class="color" style="background-color: rgb(123, 196, 161);"></div>
      <div class="color" style="background-color: rgb(233, 213, 122);"></div>
      <div class="color" style="background-color: rgb(233, 122, 192);"></div>
    </div>
  </div>
</div>
